<settings>
	<profiles>
		<profile>
			<id>Liferay-v6.2-CE-(Tomcat-7)</id>
			<properties>
				<liferay.version>6.2.5</liferay.version>
				<liferay.maven.plugin.version>6.2.10.12</liferay.maven.plugin.version>
				<liferay.auto.deploy.dir>C:\liferay-portal-6.2-ce-ga6-tomcat\deploy</liferay.auto.deploy.dir>
				<liferay.app.server.deploy.dir>C:\liferay-portal-6.2-ce-ga6-tomcat\tomcat-7.0.62\webapps</liferay.app.server.deploy.dir>
				<liferay.app.server.lib.global.dir>C:\liferay-portal-6.2-ce-ga6-tomcat\tomcat-7.0.62\lib\ext</liferay.app.server.lib.global.dir>
				<liferay.app.server.portal.dir>C:\liferay-portal-6.2-ce-ga6-tomcat\tomcat-7.0.62\webapps\ROOT</liferay.app.server.portal.dir>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>Liferay-v6.2-CE-(Tomcat-7)</activeProfile>
	</activeProfiles>
</settings>